{% extends 'dashboard.html' %} {% block content %}
<div class="dashboard-card">
    <div class="d-flex flex-row justify-content-around">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Pengguna Aplikasi</h6>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-users"></i>
                    <div class="card-field">
                        2000.000
                        <p>Total Pengguna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Produk Aplikasi</h6>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-producthunt"></i>
                    <div class="card-field">
                        100.000
                        <p>Total Produk</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Transaksi Aplikasi</h6>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-cart-full"></i>
                    <div class="card-field">
                        800.000
                        <p>Total Transaksi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Pemasukan</h6>
                <hr />
                <div class="d-flex flex-row justify-content-center align-items-center gap-4 icon-card">
                    <i class="lni lni-coin"></i>
                    <div class="card-field">
                        21.000.000
                        <p>Total Pemasukan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock %}